.user-skills {
  display: flex;
  flex-wrap: wrap;
}

.user-skills a {
  color: #fff; /* Link text color */
  background-color: #f80606; /* Background color for links */
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none !important;
  display: inline-block;
  margin: 5px;
  font-size: 14px; /* Adjust font size */
}

.user-skills .skill-count {
  color: #333; /* Task count text color */
  font-size: 0.9em;
  margin-left: 8px; /* Space between link and task count */
}
